.pic-blue-border {
  border-color: #0535c2;
  border-width: 10px 15px 10px 15px;
  border-style: solid;
  border-radius: 10px;
}
.table-red {
  color: red;
  font: bold;
}

.table-green {
  color: green;
  font: bold;
}

.table-blue {
  color: blue;
  font: bold;
}

.background {
  background-color: lightgrey;
}

th {
  background-color: white;
}

.chapter-6 {
  background: white;
  font: italic;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-size: 25px;
}

a:hover {
  color: #ff3300;
  background: linear-gradient(90deg, red, yellow, green, blue);
}

.welcome-box {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 50px;

  background-color: #a8aac0;
  border-radius: 4px;
  box-shadow: 8px 7px 20px 8px #a6280460;
  font-family: Loved-by-the-King, cursive;
  color: #720000;
  font-size: 20px;
}

.title-center {
  text-align: center;
}

.title-center:hover {
  animation-name: love;
  font-size: 0;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes love {
  0% {
    color: #720000;
  }

  50% {
    color: #ff3300;
  }

  100% {
    color: #720000;
  }
}

.title-center:hover:after {
  content: "Matesz az igazi! :>";
  font-size: 20px;
}
.table1 {
  animation-name: knight-rider;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes knight-rider {
  0% {
    left: 30px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: 30px;
  }
}
.move-it {
  position: relative;
  margin: auto;
  top: 20px;
  right: 0;
  bottom: 20px;
  left: 0;
  width: 300px;
  height: 70px;
  background-color: #ff3300;
  animation-name: julien;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes julien {
  0% {
    left: 20px;
  }
  11.764% {
    left: 140px;
  }
  23.528% {
    left: 20px;
  }
  35.292% {
    left: 140px;
  }
  41.174% {
    left: 20px;
  }
  47.056% {
    left: 140px;
  }
  58.82% {
    left: 20px;
  }
  70.584% {
    left: 140px;
  }
  76.466% {
    left: 20px;
  }
  82.248% {
    left: 140px;
  }
  88.23% {
    left: 20px;
  }
  94.112% {
    left: 140px;
  }
  100% {
    left: 20px;
  }
}
.format-text {
  margin: 20px 10px 20px 10px;
  padding: 20px 10px 20px 10px;
}
